---
layout: index
section: about about-index
permalink: /about/

title: "About: GeekUp"
meta_description:
meta_keywords:

---
<div id="Content">
<h1>About GeekUp</h1>
<p>GeekUp is a community of <strong>web designers</strong>, <strong>web developers</strong>, and other <strong>tech-minded</strong> folk from the UK. It's a grassroots knowledge sharing and networking social for folks involved or interested in the web and technology industry.</p>
{% include locations.html %}
<h2>Who's GeekUp for?</h2>
<p>While the focus for GeekUp is predominately web related anybody involved in the technology industry is welcome to attend a GeekUp. The events are free, we just ask that you buy your own beer.</p>
<h2>History</h2>
<p>GeekUp was founded in 2005 after a meeting of geeks at the Paramount Bar on the corner of Portland Street and Oxford Road in Manchester. Present at the first event were: <a href="http://andrewdisley.com/">Andrew Disley</a>, <a href="http://benward.me/">Ben Ward</a>, <a href="http://salted.com/">Paul Farnell</a> and <a href="http://www.redsatsuma.com/">Stephen Henesy</a>.</p>
</div>
{% include sidebar-about.html %}