---
layout: index
section: home home-index
permalink: /

title: GeekUp
meta_description:
meta_keywords:

---
<div id="Content">
<h1>What is GeekUp?</h1>
<p>GeekUp is a community of <strong>web designers</strong>, <strong>web developers</strong>, and other <strong>tech-minded</strong> folk from the UK. It's a grassroots knowledge sharing and networking social for folks involved or interested in the web and technology industry.</p>
{% include locations.html %}
{% comment %}{% include alerts-subscribe.html %}{% endcomment %}
</div>
{% include sidebar.html %}
