---
layout: index
section: home home-index
permalink: /

title: GeekUp
meta_description:
meta_keywords:

---
			<div id="Content">
				<h1>What is GeekUp?</h1>
				<p>GeekUp is a community of <strong>web designers</strong>, <strong>web developers</strong>, and other <strong>tech-minded</strong> folk from the UK. It's a grassroots knowledge sharing and networking social for folks involved or interested in the web and technology industry.</p>
				<p>Monthly events take place in <strong>Chester</strong>, <strong>Grimsby (East Coast)</strong>, <strong>Hebden Bridge</strong>, <strong>Lancaster</strong>, <strong>Leeds</strong>, <strong>Liverpool</strong>, <strong>Manchester</strong>, <strong>Nottingham</strong>, <strong>Preston</strong> and <strong>Sheffield</strong>.</p>
{% include alerts-subscribe.html %}
			</div>
{% include sidebar.html %}