				<div id="Connect">
					<h2>Subscribe to GeekUp Alerts</h2>
					<p><a href="/alerts/">GeekUp Alerts</a> allow you to keep informed about our upcoming events via e-mail. You can <a href="/alerts/unsubscribe/">unsubscribe</a> at anytime and we promise only use your e-mail address to notify you about events and official business.</p>
					<form action="http://geekup.createsend.com/t/y/s/dutyn/" method="post">
						<div class="row">
							<label for="name">
								<span class="label">Name:</span>
								<span class="field"><input type="text" name="cm-name" id="name" /></span>
							</label>
						</div>
						<div class="row">
							<label for="dutyn-dutyn">
								<span class="label">E-mail address</span>
								<span class="field"><input type="text" name="cm-dutyn-dutyn" id="dutyn-dutyn" /></span>
							</label>
						</div>
{% comment %}						<p style="padding: 10px 0 0 0;"><strong>Which events would you like to be alerted to?</strong></p>
						<div class="row">
							<input type="checkbox" name="cm-fo-jkildr" id="cm82362" value="82362" /> <label for="cm82362">Chester</label>
						</div>
						<div class="row">
							<input type="checkbox" name="cm-fo-jkildr" id="cm82363" value="82363" /> <label for="cm82363">East Coast</label>
						</div>
						<div class="row">
							<input type="checkbox" name="cm-fo-jkildr" id="cm82364" value="82364" /> <label for="cm82364">Leeds</label>
						</div>
						<div class="row">
							<input type="checkbox" name="cm-fo-jkildr" id="cm82365" value="82365" /> <label for="cm82365">Liverpool</label>
						</div>
						<div class="row">
							<input type="checkbox" name="cm-fo-jkildr" id="cm82366" value="82366" /> <label for="cm82366">Manchester</label>
						</div>
						<div class="row">
							<input type="checkbox" name="cm-fo-jkildr" id="cm82367" value="82367" /> <label for="cm82367">Preston</label>
						</div>
						<div class="row">
							<input type="checkbox" name="cm-fo-jkildr" id="cm82368" value="82368" /> <label for="cm82368">Sheffield</label>
						</div>{% endcomment %}
						<div class="row row-action">
							<input type="submit" value="Subscribe" />
						</div>
					</form>
				</div>