<div id="Connect">
<h2 style="padding-bottom: 10px;">Unsubscribe from GeekUp Alerts</h2>
<p>You can <a href="http://geekup.us2.list-manage.com/unsubscribe?u=5fbb4a373f8c004993991c0ab&id=53b86769df">unsubscribe</a> at anytime.</p>
{% comment %}<form action="http://geekup.createsend.com/t/y/u/dutyn/" method="post">
<div class="row">
<label for="email">
<span class="label">E-mail address</span>
<input type="text" id="email" name="cm-dutyn-dutyn" />
</label>
</div>
<div class="row-action">
<input type="submit" value="Unsubscribe" />
</div>
</form>{% endcomment %}
</div>