<div id="Connect">
<h2>Subscribe to GeekUp Alerts</h2>
<p><a href="/alerts/">GeekUp Alerts</a> allow you to keep informed about our upcoming events via e-mail. You can <a href="http://geekup.us2.list-manage.com/unsubscribe?u=5fbb4a373f8c004993991c0ab&id=53b86769df">unsubscribe</a> at anytime and we promise only use your e-mail address to notify you about events and official business.</p>
<form action="http://geekup.us2.list-manage.com/subscribe/post?u=5fbb4a373f8c004993991c0ab&amp;id=53b86769df" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
{% comment %}<form action="http://geekup.createsend.com/t/y/s/dutyn/" method="post">{% endcomment %}
<div class="row">
<label for="mce-FNAME">
<span class="label">First Name</span>
<span class="field"><input type="text" name="FNAME" id="mce-FNAME" /></span>
</label>
</div>
<div class="row">
<label for="mce-LNAME">
<span class="label">Last Name</span>
<span class="field"><input type="text" name="LNAME" id="mce-LNAME" /></span>
</label>
</div>
<div class="row">
<label for="mce-EMAIL">
<span class="label">E-mail address</span>
<span class="field"><input type="text" name="EMAIL" id="mce-EMAIL" /></span>
</label>
</div>
<p style="padding: 10px 0 0 0;"><strong>Which events would you like to be alerted to?</strong></p>
<div class="row">
<input type="checkbox" value="2048" name="group[1][2048]" id="mce-group[1]-1-8"> <label for="mce-group[1]-1-8">Blackpool</label>
</div>
<div class="row">
<input type="checkbox" value="256" name="group[1][256]" id="mce-group[1]-1-8"> <label for="mce-group[1]-1-8">Doncaster</label>
</div>
<div class="row">
<input type="checkbox" value="2" name="group[1][2]" id="mce-group[1]-1-1"> <label for="mce-group[1]-1-1">East Coast</label>
</div>
<div class="row">
<input type="checkbox" value="512" name="group[1][512]" id="mce-group[1]-1-9"> <label for="mce-group[1]-1-9">Lancaster</label>
</div>
<div class="row">
<input type="checkbox" value="4" name="group[1][4]" id="mce-group[1]-1-2"> <label for="mce-group[1]-1-2">Leeds</label>
</div>
<div class="row">
<input type="checkbox" value="8" name="group[1][8]" id="mce-group[1]-1-3"> <label for="mce-group[1]-1-3">Liverpool</label>
</div>
<div class="row">
<input type="checkbox" value="16" name="group[1][16]" id="mce-group[1]-1-4"> <label for="mce-group[1]-1-4">Manchester</label>
</div>
<div class="row">
<input type="checkbox" value="1024" name="group[1][1024]" id="mce-group[1]-1-10"> <label for="mce-group[1]-1-10">Nottingham</label>
</div>
<div class="row">
<input type="checkbox" value="32" name="group[1][32]" id="mce-group[1]-1-5"> <label for="mce-group[1]-1-5">Preston</label>
</div>
<div class="row">
<input type="checkbox" value="64" name="group[1][64]" id="mce-group[1]-1-6"> <label for="mce-group[1]-1-6">Sheffield</label>
</div>
<div class="row">
<input type="checkbox" value="128" name="group[1][128]" id="mce-group[1]-1-7"> <label for="mce-group[1]-1-7">Staffs</label>
</div>
<div class="row row-action">
<input id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe" />
</div>
</form>
</div>