<div id="Sidebar">
<div id="Organisers">
<h2>GeekUp Organisers</h2>
<dl>
<dt class="name"><a class="external" href="http://twitter.com/andrewdisley">@andrewdisley | Andrew Disley</a></dt>
<dd><p>Founder and organiser of GeekUp.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/biglesp">@biglesp | Les Pounder</a></dt>
<dd><p>Organiser of GeekUp Blackpool.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/stevefrost">@stevefrost | Steve Frost</a></dt>
<dd><p>Organiser of GeekUp Doncaster.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/wearebluesky">@wearebluesky | Richard Hamer</a></dt>
<dd><p>Co organiser of GeekUp Leeds.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/jpgriffin">@jpgriffin | Jeremy Griffin</a></dt>
<dd><p>Co organiser of GeekUp Leeds.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/mcknut">@mcknut | John McKerrell</a></dt>
<dd><p>Organiser of GeekUp Liverpool.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/dhardiker">@dhardiker | Dan Hardiker</a></dt>
<dd><p>Co-organiser of GeekUp Manchester.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/axelsegebrecht">@axelsegebrecht | Axel Segebrecht</a></dt>
<dd><p>Co-organiser of GeekUp Milton Keynes.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/MrAndrew">@MrAndrew | Andrew Seward</a></dt>
<dd><p>Organiser of GeekUp Nottingham.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/richardsmedley">@richardsmedley | Richard Smedley</a></dt>
<dd><p>Organiser of GeekUp Staffs.</p></dd>
</dl>
<h2>Retired GeekUp Organisers</h2>
<dl>
<dt class="name"><a class="external" href="http://twitter.com/rubygem">@rubygem | Gemma Cameron</a></dt>
<dd><p>Ex organiser of GeekUp Nottingham.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/tshannon">@tshannon | Thom Shannon</a></dt>
<dd><p>Ex organiser of GeekUp Liverpool.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/urbanwide">@urbanwide | Deb Bassett</a></dt>
<dd><p>Ex co-organiser of GeekUp Leeds.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/monkeyhelpr">@monkeyhelpr | Rob Lee</a></dt>
<dd><p>Ex co-organiser of GeekUp Leeds.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/stuartfrisby">@stuartfrisby | Stuart Frisby</a></dt>
<dd><p>Ex co-organiser of GeekUp Liverpool.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/gpeng">@gpeng | Graham Pengelly</a></dt>
<dd><p>Ex co-organiser of GeekUp Liverpool.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/danielmorris">@danielmorris | Daniel Morris</a></dt>
<dd><p>Founder of the PHP Manchester <abbr title="User Group">UG</abbr> and ex co-organiser of the Manchester GeekUp.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/daveverwer">@daveverwer | Dave Verwer</a></dt>
<dd><p>Ex organiser of GeekUp Chester.</p></dd>
<dt class="name"><a class="external" href="http://twitter.com/simon180">@simon180 | Simon Young</a></dt>
<dd><p>Ex co-organiser of GeekUp Chester.</p></dd>
</dl>
</div>
<div id="Helpers">
<h2>GeekUp Helpers</h2>
<p>A big <strong>Thank You</strong> for their continued help and support:</p>
<dl>
<dt><a class="external" href="http://twitter.com/plip">@plip | Phil Winstanley</a></dt>
</dl>
</div>
</div>