<div class="sidebar">
    <div class="sidebar-organisers">
        <h2>GeekUp Organisers</h2>
        <dl>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/andrewdisley">@andrewdisley | Andrew Disley</a></dt>
                <dd>Founder and organiser of GeekUp.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/biglesp">@biglesp | Les Pounder</a></dt>
                <dd>Organiser of GeekUp Blackpool.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/stevefrost">@stevefrost | Steve Frost</a></dt>
                <dd>Organiser of GeekUp Doncaster.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/wearebluesky">@wearebluesky | Richard Hamer</a></dt>
                <dd>Co organiser of GeekUp Leeds.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/jpgriffin">@jpgriffin | Jeremy Griffin</a></dt>
                <dd>Co organiser of GeekUp Leeds.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/mcknut">@mcknut | John McKerrell</a></dt>
                <dd>Organiser of GeekUp Liverpool.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/dhardiker">@dhardiker | Dan Hardiker</a></dt>
                <dd>Co-organiser of GeekUp Manchester.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/axelsegebrecht">@axelsegebrecht | Axel Segebrecht</a></dt>
                <dd>Co-organiser of GeekUp Milton Keynes.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/MrAndrew">@MrAndrew | Andrew Seward</a></dt>
                <dd>Organiser of GeekUp Nottingham.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/richardsmedley">@richardsmedley | Richard Smedley</a></dt>
                <dd>Organiser of GeekUp Staffs.</dd>
            </div>
        </dl>
        <h2>Retired GeekUp Organisers</h2>
        <dl>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/rubygem">@rubygem | Gemma Cameron</a></dt>
                <dd>Ex organiser of GeekUp Nottingham.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/tshannon">@tshannon | Thom Shannon</a></dt>
                <dd>Ex organiser of GeekUp Liverpool.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/urbanwide">@urbanwide | Deb Bassett</a></dt>
                <dd>Ex co-organiser of GeekUp Leeds.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/monkeyhelpr">@monkeyhelpr | Rob Lee</a></dt>
                <dd>Ex co-organiser of GeekUp Leeds.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/stuartfrisby">@stuartfrisby | Stuart Frisby</a></dt>
                <dd>Ex co-organiser of GeekUp Liverpool.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/gpeng">@gpeng | Graham Pengelly</a></dt>
                <dd>Ex co-organiser of GeekUp Liverpool.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/danielmorris">@danielmorris | Daniel Morris</a></dt>
                <dd>Founder of the PHP Manchester <abbr title="User Group">UG</abbr> and ex co-organiser of the Manchester GeekUp.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/daveverwer">@daveverwer | Dave Verwer</a></dt>
                <dd>Ex organiser of GeekUp Chester.</dd>
            </div>
            <div class="sidebar-organiser">
                <dt><a class="external" href="http://twitter.com/simon180">@simon180 | Simon Young</a></dt>
                <dd>Ex co-organiser of GeekUp Chester.</dd>
            </div>
        </dl>
    </div>
    <div class="sidebar-helpers">
        <h2>GeekUp Helpers</h2>
        <p>A big <strong>Thank You</strong> for their continued help and support:</p>
        <ul>
            <li><a class="external" href="http://twitter.com/plip">@plip | Phil Winstanley</a></li>    
        </ul>
    </div>
</div>