:root {
    --colour-blue: #00619A;
    --colour-orange: #A86500; /* WCAG AA compliant orange on white background */
    --colour-grey: #3B3B3B;
}
* { margin: 0; padding: 0; }
a:link, a:visited { color: var(--colour-orange); }
a:hover, a:active { color: var(--colour-blue); text-decoration: underline; }
img { border: none; }
fieldset { border: none; }
input, select, button { font-size: 100%; }
p { margin-block: 0.375rem 0.75rem; }
.s-h-o { left: -9999em; position: absolute; top: -9999em; }
body { background-color: #ffffff; border-top: 2px solid var(--colour-orange); color: var(--colour-grey); display: grid; font: normal 100%/1.4 "Lucida Grande", Verdana, Geneva, Arial, sans-serif; grid-template-rows: auto 1fr auto; }
header { align-items: start; background-color: #F2F2F2; box-shadow: inset 0 -1.25rem 1.25rem -1.25rem rgba(59,59,59,0.1); color: var(--colour-grey); display: grid; gap: var(--header-gap, 1rem 1.25rem); grid-template-columns: var(--header-gridtemplatecolumns, 1fr); padding-block: 1.25rem; padding-inline: var(--l-gutter, 1.25rem); }
.branding { align-items: flex-end; display: flex; gap: var(--branding-gap, 0.5rem); letter-spacing: -0.05em; }
.branding-logo { height: var(--branding-logo-height, auto); width: var(--branding-logo-width, 160px); }
.branding-strapline { font-size: var(--branding-strap-fontsize, 0.75rem); margin-block-end: var(--branding-strap-marginblockend, 0.325rem); }
nav { font-size: 1rem; }
.nav-list { display: flex; gap: var(--nav-gap, 0.25rem); list-style: none; }
.nav-link:link,
.nav-link:visited { border-top: 2px solid transparent; color: var(--colour-grey); display: block; padding: 5px 10px; }
.nav-link:hover,
.nav-link:active { background-color: #ffffff; border-top-color: var(--colour-orange); color: var(--colour-grey); }
main { display: grid; gap: var(--main-gap, 2rem 1.25rem); grid-template-columns: var(--main-gridtemplatecolumns, 1fr); margin-inline: var(--l-gutter, 1.25rem); padding-block: var(--main-paddingblock, 1.25rem); }
.content { font-size: 1rem; }
.content h1, .content h2, .content h3, .content h4 { letter-spacing: -0.05em; }
.content h1 { font-size: 1.25rem; }
.content h1 + p { padding-top: 0; }
.content h2 { font-size: 1.125rem; }
.content p + h2 { margin-top: 1rem; }
.content ul { list-style: none; margin-block-end: 1.25rem; }
.content ul li { margin-block-end: 0.125rem; }
.content ul li a:link,
.content ul li a:visited { text-decoration: none; }
.content dl { margin: 0 0 20px 0; }
.content dl dt { font-size: 1.125em; font-weight: bold; margin: 10px 0 0 0; }
.connect { background-color: #f8f8f8; border: 1px solid #FFC266; border-top: 2px solid var(--colour-orange); margin: 10px 0 0 0; padding: 10px; }
.connect legend { padding: 5px 0; }
.connect div.row { clear: both; padding: 5px 0; }
.connect div.row span.label { display: block; float: left; width: 140px; }
.sidebar { align-content: start; display: grid; font-size: 1rem; gap: var(--sidebar-gap, 1.5rem); }
.sidebar h2 { font-size: 1.125rem; padding: 0 2.75rem 0.75rem 0; }
.sidebar-events { display: grid; gap: var(--sidebar-events-gap, 1.5rem); }
.sidebar-events h2 { background: #FFFFFF url(../images/icons/events.gif) no-repeat top right; }
.sidebar-events h2 a:link,
.sidebar-events h2 a:visited { color: var(--colour-grey); }
.sidebar-events .vevent { background-color: #FFFFFF; border: 1px solid #D7E1E9; border-top: 2px solid #B8D1E7; color: #27343C; }
.sidebar-events .vevent + .vevent { margin-block-start: 1.25rem; }
.sidebar-events .vevent:hover { background-color: #F4F8FB; }
.sidebar-events .vevent h3 { font-size: 1rem; }
.sidebar-events .vevent h3 a { display: grid; font-weight: normal; gap: 0.5rem; padding: 0.5rem 0.75rem; text-wrap: balance; }
.sidebar-events .vevent h3 a:link,
.sidebar-events .vevent h3 a:visited { color: #27343C; text-decoration: none; }
.sidebar-events .vevent h3 a strong { text-decoration: underline; }
.sidebar-events .vevent p { padding-bottom: 8px; padding-top: 4px; }
.sidebar-events .vevent p a:link,
.sidebar-events .vevent p a:visited { color: #3367A0; }
.sidebar-events .vevent-location { display: block; font-size: 0.875rem; }
.sidebar-events ul { display: grid; font-size: 0.875rem; gap: var(--sidebar-events-ul-gap, 0.5rem); list-style: none; padding: 0; }
.sidebar-flickr h2 { padding: 0; }
.sidebar-flickr h2,
.sidebar-flickr h2 a:link,
.sidebar-flickr h2 a:visited { color: #0063dc; text-decoration: none; }
.sidebar-flickr h2 span,
.sidebar-flickr h2 a:link span,
.sidebar-flickr h2 a:visited span { color: #ff0084; text-decoration: none; }
.sidebar-flickr ul { list-style: none; padding: 0 0 0 10px; }
.sidebar-flickr ul li { border: 1px solid #c8c8c8; display: block; float: left; height: 50px; margin: 0 0 4px 4px; padding: 2px; width: 50px; }
.sidebar-flickr ul li a:link,
.sidebar-flickr ul li a:visited { display: block; }
.sidebar-flickr ul li a:link img,
.sidebar-flickr ul li a:visited img { display: block; height: 50px; width: 50px; }
.sidebar-flickr ul li a:hover { position: relative; }
.sidebar-flickr ul li a:hover img { background-color: #ffffff; border: 1px solid #ff0084; height: 75px; left: -12.5px; padding: 2px; position: absolute; top: -12.5px; width: 75px; }
.sidebar-contact h2 { background: #ffffff url(../images/icons/contacts.gif) no-repeat top right; }
.sidebar-contact p { margin: 0; }
.sidebar-organisers h2 { background: #ffffff url(../images/icons/contacts.gif) no-repeat top right; }
.sidebar-organiser { background-color: #FFFFFF; border: 1px solid #D7E1E9; border-top: 2px solid #B8D1E7; color: #27343C; display: grid; font-size: 0.875rem; gap: 0.5rem; padding: 0.5rem 0.75rem; text-wrap: balance; }
.sidebar-organiser:hover { background-color: #F4F8FB; }
.sidebar-organiser + .sidebar-organiser { margin-block-start: 1.25rem; }
.sidebar-organiser dt { font-size: 1rem; }
.sidebar-organiser a { font-weight: bold; }
.sidebar-organiser a:link,
.sidebar-organiser a:visited { color: #27343c; }
.sidebar-helpers p { font-size: 0.875rem; margin: 0 0.75rem 0.375rem; }
.sidebar-helpers ul { list-style: none; }
.sidebar-helpers li { color: #27343c; font-size: 0.875rem; font-weight: bold; padding: 0 0.75rem; }
footer { display: grid; font-size: 0.875rem; gap: var(--footer-gap, 0.5rem 1rem); grid-template-columns: var(--footer-gridtemplatecolumns, 1fr); margin-inline: var(--l-gutter, 1.25rem); padding-block: 1.25rem 2.5rem; }
footer h3 { padding-block-end: 0.75rem; }
footer p { padding: 0; }
.footer-friends ul { display: flex; flex-wrap: wrap; gap: var(--footer-links-gap, 0.5rem); list-style: none; }
.footer-friends img { border: 1px solid #ffffff; display: block; }
.footer-friends a { display: block; }
.footer-friends li:hover img { border-color: var(--colour-orange); }
.footer-legal { margin-block-start: 1rem; }

@media (min-width: 940px) {
    :root {
       --l-gutter: 2.5rem;
       --header-gap: 1rem 2.5rem;
       --header-gridtemplatecolumns: 600px 380px;
       --branding-logo-width: 200px;
       --branding-strap-fontsize: 1rem;
       --branding-strap-marginblockend: 0.5rem;
       --main-gap: 2rem 2.5rem;
       --main-gridtemplatecolumns: 600px 380px;
       --main-paddingblock: 2.5rem;
    }	    
}