---
layout: index
section: events events-detail

---
			<div id="Content">
				<h1>{{ page.title }}</h1>
				<dl>
					<dt>When</dt>
					<dd>{{ page.date | date: "%H:%M %A %B %d %Y" }}</dd>
					<dt>Where</dt>
					<dd>{{ page.location }}</dd>
{% if page.description %}
					<dt>Description</dt>
					<dd>{{ page.description }}</dd>
{% endif %}
{% if page.contact %}
					<dt>Contact</dt>
					<dd>{{ page.contact }}</dd>
{% endif %}
				</dl>
				<p>Go back to the <a href="/events/">events listings</a>.</p>
			</div>
{% include sidebar.html %}