<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html profile="http://gmpg.org/xfn/11" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{{ page.title }}{% if page.section contains 'jobs-job' %} at {{ page.company }} in {{ page.location }}{% endif %}</title>{% if page.meta_description %}
		<meta name="description" content="{{ page.meta_description }}">{% endif %}{% if page.meta_keywords %}
		<meta name="keywords" content="{{ page.meta_keywords }}">{% endif %}
		<meta name="author" content="Andrew Disley, Simplified http://simplified.co.uk/">
		<link href="{{ site.assets_url }}styles/screen.css" media="screen,projection" rel="stylesheet" type="text/css">
		<!--[if lte IE 7]><link href="{{ site.assets_url }}styles/ie.css" rel="stylesheet" type="text/css" media="screen"><![endif]-->
		<link href="{{ site.assets_url }}styles/print.css" media="print" rel="stylesheet" type="text/css">
		<link href="{{ site.url }}favicon.ico" rel="shortcut icon" type="image/x-icon">
	</head>
	<!-- TODO add post ID to body class -->
	<body{% if page.section %} class="{{ page.section }}"{% endif %} id="{{ site.id }}">
		<div id="Container">
			<div id="Branding">
				<p id="BrandingTitle"><strong><img alt="GeekUp" height="70" src="{{ site.assets_url }}images/global/branding_logo.gif" width="250"></strong> grassroot geekery in the UK.</p>
			</div>
			<div class="clearfix" id="NavigationPrimary">
				<ul>
					<li class="nphome first"><a href="{{ site.url }}">Home</a></li>
					<li class="npabout"><a href="{{ site.url }}about/">About</a></li>
					<li class="npevents"><a href="{{ site.url }}events/">Events</a></li>
					<li class="npjobboard"><a class="external" href="http://jobboard.geekup.org/">Job Board</a></li>{% comment %}
					<li class="npwiki"><a href="{{ site.url }}wiki/">Wiki</a></li>{% endcomment %}
				</ul>
			</div>
{{ content }}
			<div id="SiteInfo">
				<div id="OurFriends">
					<h3>Our Friends</h3>
					<ul>
						<li><a href="http://jobboard.geekup.org/" rel="external"><img alt="GeekUp Job Board - Web industry jobs in the UK's North-West" height="50" src="{{ site.assets_url }}images/global/jobboard-240x100.gif" width="120"></a></li>
						<li><a href="http://www.manchesterdda.com/" rel="external"><img alt="Manchester Digital Development Agency" height="50" src="{{ site.assets_url }}images/global/mdda-240x100.gif" width="120"></a></li>
						<li><a href="http://nwrug.org/" rel="external"><img alt="North West Ruby User Group" height="50" src="{{ site.assets_url }}images/global/nwrug-240x100.gif" width="120"></a></li>
						<li><a href="http://www.techcelerate.org/" rel="external"><img alt="Techcelerate" height="50" src="{{ site.assets_url }}images/global/nws2-240x100.png" width="120"></a></li>
						<li><a href="http://phpnw.org.uk/" rel="external"><img alt="PHP North West User Group" height="50" src="{{ site.assets_url }}images/global/phpnw-240x100.png" width="120"></a></li>
						<li><a href="http://manchester.vbug.net/" rel="external"><img alt="Manchester .NET User Group" height="50" src="{{ site.assets_url }}images/global/vbug-240x100.gif" width="120"></a></li>
					</ul>
				</div>
				<p class="legal">Copyright &#169; {{ 'now' | date: "%Y" }} GeekUp. All rights reserved. <a href="{{ site.url }}about/credits/">Credits</a>.</p>
				<p>The GeekUp website is maintained <a href="http://simplified.co.uk/"><span class="s-h-o">Manchester digital freelancer </span>Andrew Disley</a></p>
			</div>
		</div>{% if site.env == 'production' %}
		<script src="http://include.reinvigorate.net/re_.js"></script>
		<script>
			try {
				reinvigorate.url_filter = function (url) { return url; }
				reinvigorate.track("m6s0j-yq301h076h");
			} catch(err) {}
			var _gaq = [['_setAccount', '{{ site.google_analytics_id }}'], ['_trackPageview']];
			(function(d, t) {
				var g = d.createElement(t),
				s = d.getElementsByTagName(t)[0];
				g.async = true;
				g.src = '//www.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g, s);
			})(document, 'script');
		</script>{% endif %}
	</body>
</html>