<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html profile="http://gmpg.org/xfn/11" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{{ page.title }}{% if page.section contains 'jobs-job' %} at {{ page.company }} in {{ page.location }}{% endif %}</title>{% if page.meta_description %}
		<meta name="description" content="{{ page.meta_description }}">{% endif %}{% if page.meta_keywords %}
		<meta name="keywords" content="{{ page.meta_keywords }}">{% endif %}
		<meta name="author" content="Andrew Disley, Simplified http://simplified.co.uk/">
		<link href="/assets/styles/screen.css" media="screen,projection" rel="stylesheet" type="text/css">
		<!--[if lte IE 7]><link href="/assets/styles/ie.css" rel="stylesheet" type="text/css" media="screen"><![endif]-->
		<link href="/assets/styles/print.css" media="print" rel="stylesheet" type="text/css">
		<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
	</head>
	<!-- TODO add post ID to body class -->
	<body{% if page.section %} class="{{ page.section }}"{% endif %} id="geekup-org">
		<script type="text/javascript">document.body.className += ' hasJS';</script>
		<div id="Container">
			<div id="Branding">
				<p id="BrandingTitle"><strong><img alt="GeekUp" height="70" src="//geekup.org/assets/images/global/branding_logo.gif" width="250" /></strong> grassroot geekery in the UK.</p>
			</div>
			<div class="clearfix" id="NavigationPrimary">
				<ul>
					<li class="nphome first"><a href="/">Home</a></li>
					<li class="npabout"><a href="/about/">About</a></li>
					<li class="npevents"><a href="/events/">Events</a></li>
					<li class="npjobboard"><a class="external" href="http://jobboard.geekup.org/">Job Board</a></li>
					<li class="npwiki"><a href="/wiki/">Wiki</a></li>
				</ul>
			</div>
{{ content }}
			<div id="SiteInfo">
				<div id="OurFriends">
					<h3>Our Friends</h3>
					<ul>
						<li><a href="http://jobboard.geekup.org/" rel="external"><img alt="GeekUp Job Board - Web industry jobs in the UK's North-West" height="50" src="/assets/images/global/jobboard-240x100.gif" width="120" /></a></li>
						<li><a href="http://www.manchesterdda.com/" rel="external"><img alt="Manchester Digital Development Agency" height="50" src="/assets/images/global/mdda-240x100.gif" width="120" /></a></li>
						<li><a href="http://nwrug.org/" rel="external"><img alt="North West Ruby User Group" height="50" src="/assets/images/global/nwrug-240x100.gif" width="120" /></a></li>
						<li><a href="http://www.techcelerate.org/" rel="external"><img alt="Techcelerate" height="50" src="/assets/images/global/nws2-240x100.png" width="120" /></a></li>
						<li><a href="http://phpnw.org.uk/" rel="external"><img alt="PHP North West User Group" height="50" src="/assets/images/global/phpnw-240x100.png" width="120" /></a></li>
						<li><a href="http://manchester.vbug.net/" rel="external"><img alt="Manchester .NET User Group" height="50" src="/assets/images/global/vbug-240x100.gif" width="120" /></a></li>
					</ul>
				</div>
				<p class="legal">&copy; GeekUp, 2006 - 2010. All rights reserved. <a href="/about/credits/">Credits</a>.</p>
			</div>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
		<script src="/assets/scripts/global.js" type="text/javascript"></script>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-78380-4");pageTracker._initData();pageTracker._trackPageview();
		</script>
	</body>
</html>